<nav class="navbar navbar-expand-lg sticky-top mb-3 shadow-sm container-fluid" id="navbar-top">
  <div class="container">
  <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "knitting.png", alt: "Logo", height: 30, class: "mx-2" %>
  <% end %>
      <% if content_for?(:navbar_title) %>
      <h1 class="navbar-title mt-2 mx-auto"><%= yield(:navbar_title) %></h1>
    <% end %>
    <div class="ms-auto d-flex align-items-center">
      <% if user_signed_in? %>
        <%= link_to notifications_path, class: "nav-link" do %>
          <% if controller_name == "notifications" && action_name == "index" %>
            <i class="fa-regular fa-bell fa-lg px-4" style="color: #392F5A"></i>
          <% else %>
            <i class="fa-regular fa-bell fa-lg px-4" style="color: #ffffff"></i>
          <% end %>
        <% end %>
        <%= link_to chats_path, class: "nav-link" do %>
          <% if controller_name == "chats" && action_name == "index" %>
            <i class="fa-regular fa-comment fa-lg px-2" style="color: #392F5A"></i>
          <% else %>
            <i class="fa-regular fa-comment fa-lg px-2" style="color: #ffffff"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
