<div class="mb-4">
  <h5 class="mb-2">Instructions</h5>
<p class="fs-6 text-dark overflow-auto" style="max-height: 200px;">
  <%= post.content %>
</p>

  <h5 class="mt-4 mb-2">Details</h5>
  <ul class="list-unstyled fs-6 text-dark">
    <% if post.craft.present? %>
      <li><strong>Craft:</strong> <%= post.craft %></li>
    <% end %>
    <% if post.category.present? %>
      <li><strong>Category:</strong> <%= post.category %></li>
    <% end %>
    <% if post.gauge.present? %>
      <li><strong>Gauge:</strong> <%= post.gauge %></li>
    <% end %>
    <% if post.yarn_weight.present? %>
      <li><strong>Yarn Weight:</strong> <%= post.yarn_weight %></li>
    <% end %>
    <% if post.needle_size.present? %>
      <li><strong>Needle Size:</strong> <%= post.needle_size %></li>
    <% end %>
  </ul>
</div>
