<div class="d-flex justify-content-between align-items-center" style="font-size: 0.9rem;">

  <div id="favorite-<%= post.id %>">
    <% if post.favorites.where(user: current_user).exists? %>
      <%= link_to '', toggle_favorites_path(post_id: post.id),
            data: { turbo_method: 'post', turbo_confirm: 'Are you sure?' },
            class: 'fas fa-bookmark mx-2 text-decoration-none',
            style: 'font-size: 1.2rem;' %>
    <% else %>
      <%= link_to '', toggle_favorites_path(post_id: post.id),
            data: { turbo_method: 'post' },
            class: 'far fa-bookmark mx-2 text-decoration-none',
            style: 'font-size: 1.2rem;' %>
    <% end %>
  </div>
  <% if post.pattern? %>
    <div class="badge rounded-pill bg-primary ">Pattern</div>
  <% else %>
    <div class="badge rounded-pill bg-secondary">Post</div>
  <% end %>
  <div id="post-<%= post.id %>-likes" class="d-flex align-items-center p-2 bd-highlight">
    <% if post.post_likes.where(user: current_user).exists? %>
      <%= link_to '', toggle_post_post_likes_path(post),
            data: { turbo_method: 'post' },
            class: 'fas fa-heart text-decoration-none px-2',
            style: 'font-size: 1.25rem; cursor: pointer;' %>
    <% else %>
      <%= link_to '', toggle_post_post_likes_path(post),
            data: { turbo_method: 'post' },
            class: 'far fa-heart text-decoration-none px-2',
            style: 'font-size: 1.25rem; cursor: pointer;' %>
    <% end %>
    <p class="small text-muted mb-0"><%= post.post_likes.count %></p>
  </div>
</div>
