<h4 class="card-title text-center text-nowrap" style="font-size: 1.2rem; font-weight: bold; color: #444;">
  <%= post.title %>
</h4>
<%= link_to user_path(post.user) do %>
  <div class="d-flex justify-content-center align-items-center" style="gap: 10px;">
    <h5 style="font-size: 1.1rem;"><%= post.user.username %></h5>
  </div>
<% end %>
<% if user_signed_in? && post.user_id == current_user.id %>
    <div>
      <%= link_to "Edit", edit_post_path(post) %>
      <%= link_to "Delete", post_path(post), data: { turbo_method: :delete } %>
    </div>
<% end %>
