<div class="d-flex align-items-center justify-content-between">
  <div>
    <%= link_to user_path(post.user) do %>
      <% if post.user.avatar.attached? %>
        <%= image_tag post.user.avatar, class: "rounded-circle mb-3 me-2", style: "width: 45px; height: 45px; object-fit: cover;" %>
      <% else %>
        <%= image_tag 'blank-profile.jpeg', class: "rounded-circle mb-3 me-2", style: "width: 45px; height: 45px; object-fit: cover;" %>
      <% end %>
    <% end %>
  </div>

  <div>
    <h4 class="card-title text-nowrap text-start mb-0" style="font-size: 1.2rem; font-weight: bold; color: #444; width: 300px; overflow: hidden;">
      <%= post.title %>
    </h4>
    <h5 class="font-bold text-start" style="font-size: 1.1rem;">
      <%= link_to post.user.username, user_path(post.user), class: 'text-decoration-none' %>
    </h5>
  </div>
</div>
