<ul class="navbar-nav flex">
  <li class="nav-item align-self-end">
    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, class: "nav-link navbar-button dropdown-item", data: { turbo_method: :delete } %>
    <% end %>
  </li>
</ul>

<% if user_signed_in? %>
  <%= render "users/partials/profile_header" %>
      <% if user_signed_in? && @user != current_user %>
          <div class="d-flex align-items-center justify-content-between">
            <%= simple_form_for @user, url: follow_unfollow_path(@user), html: { method: :post } do |f| %>
              <%= f.button :submit, @is_following ? "Unfollow" : "Follow", class: @is_following ? "btn btn-secondary" : "btn btn-primary" %>
            <% end %>
            <%= simple_form_for @chat, url: chat_create_path, html: { method: :post } do |f| %>
              <%= f.input :user_id, as: :hidden, input_html: { value: @user.id }, wrapper: false %>
              <%= f.button :submit, "Message", class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
<% end %>

<hr>

<% @user.posts.each do |post| %>
  <%= render '/users/partials/my_profile_card', post: post, user: @user %>


  <hr>
<% end %>
