<ul class="navbar-nav flex">
  <li class="nav-item align-self-end">
    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path,  class: "nav-link navbar-button", class: "dropdown-item", data: { turbo_method: :delete } %>
    <% end %>
  </li>
</ul>


<% if user_signed_in? %>
  <div style="display: flex; align-items: center;">

    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar,  class: "rounded-circle me-3", style: "width: 150px; height: 150px;" %>
    <% else %>
      <% basic_avatar = 'blank-profile.jpeg' %>
      <%= image_tag basic_avatar,  class: "rounded-circle me-3", style: "width: 150px; height: 150px;" %>
    <% end %>
    <div style="display: flex; flex-direction: column;">
      <span class = "h3"><%= @user.username %></span>
      <span class = "h5"><%= "Followers 48    Following 55"%></span>
      <% if @user.bio.present? %>
        <p>"<%= @user.bio %>"</p>
        <% end %>

    </div>
  </div>
<% end %>
        <hr>
  <%= render 'users/partials/profile_posts' %>