<% if user_signed_in? %>
  <%= render "users/partials/profile_header" %>

  <% if @user != current_user %>  <!-- Fixed condition here, removed redundant `user_signed_in?` -->
    <div class="d-flex align-items-center justify-content-between">
      <%= simple_form_for @user, url: follow_unfollow_path(@user), html: { method: :post } do |f| %>
        <%= f.button :submit, @is_following ? "Unfollow" : "Follow", class: @is_following ? "btn btn-secondary" : "btn btn-primary" %>
      <% end %>

      <%= simple_form_for @chat, url: chat_create_path, html: { method: :post } do |f| %>
        <%= f.input :user_id, as: :hidden, input_html: { value: @user.id }, wrapper: false %>
        <%= f.button :submit, "Message", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
<% end %>

<hr>

<% @user.posts.each do |post| %>
  <%= render 'users/partials/my_profile_card', post: post, user: @user %>

  <% if post.user_id == @user.id %>
    <%= form_with(url: post_path(post), method: :delete, data: { turbo: "true", confirm: "Are you sure you want to delete this post?" }) do |form| %>
      <%= form.submit "Delete", data: { turbo_action: "replace" } %>
    <% end %>
  <% end %>
<% end %>

<hr>
