<div class="card mb-4 position-relative" id="comment-<%= comment.id %>">
  <div class="card-body">
    <div class="comment">
      <p><%= comment.content %></p>
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                height="25" />
              <p class="small mb-0 ms-2"> <%= comment.user.username %> </p>
            </div>
            <div class="d-flex flex-row align-items-center">
              <% if comment.user_id == current_user.id %>
                <%= link_to '', post_comment_path(comment.post, comment),
                  data: { turbo_method: 'delete'},
                  class: 'fas fa-trash mx-2 fa-xs text-body position-absolute',
                  style: 'margin-top: -0.16rem; top: 30px; right: 10px' %>
              <% end %>
              <div id="comment-<%= comment.id %>-likes" class="d-flex align-items-center">
                <%= link_to '', comment_comment_likes_path(comment),
                  data: { turbo_method: 'post'},
                  class: 'far fa-heart mx-2 fa-xs text-body',
                  style: 'margin-top: -0.16rem;' %>
              <p class="small text-muted mb-0"><%= comment.comment_likes.count %></p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
