<nav class="navbar navbar-lewagon navbar-expand-lg fixed-bottom container-fluid">
  <div class="container d-flex justify-content-around">
    <%= link_to root_path, class: "nav-link" do %>
      <i class="fas fa-house" style="color: #ffffff"></i>
    <% end %>

    <% if user_signed_in? %>
        <%= link_to trend_patterns_path || "#", class: "nav-link" do %>
          <i class="fas fa-search" style="color: #ffffff"></i>
        <% end %>
        <%= link_to new_post_path || "#", class: "nav-link" do %>
          <i class="fas fa-plus" style="color: #ffffff"></i>
        <% end %>
        <%= link_to favorites_path || "#", class: "nav-link" do %>
          <i class="fas fa-bookmark" style="color: #ffffff"></i>
        <% end %>
        <%= link_to my_profile_path || "#", class: "nav-link" do %>
          <i class="fas fa-user" style="color: #ffffff"></i>
        <% end %>
    <% else %>
        <%= link_to new_user_session_path  || "#",  class: "nav-link" do %>
          <i class="fas fa-search" style="color: #ffffff"></i>
        <% end %>
        <%= link_to new_user_session_path || "#",  class: "nav-link" do %>
          <i class="fas fa-plus" style="color: #ffffff"></i>
        <% end %>
        <%= link_to new_user_session_path || "#",  class: "nav-link" do %>
          <i class="fas fa-bell" style="color: #ffffff"></i>
        <% end %>
        <%= link_to new_user_session_path || "#",  class: "nav-link" do %>
          <i class="fas fa-user" style="color: #ffffff"></i>
        <% end %>
    <% end %>

  </div>
</nav>
