<div class="container">
  <div style="display: flex; align-items: center;">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar,  class: "rounded-circle me-3", style: "width: 100px; height: 100px;" %>
    <% else %>
      <% basic_avatar = 'blank-profile.jpeg' %>
      <%= image_tag basic_avatar,  class: "rounded-circle me-3", style: "width: 100px; height: 100px;" %>
    <% end %>
    <div style="display: flex; flex-direction: column;">
      <span class = "h3"><%=  @user.username %></span>
      <span class="no-style-link text-dark">
        <%= link_to followers_path(@user), class: "text-decoration-none text-dark fs-6" do %>
          <span>Followers <strong><%= @user.followers.count %></strong></span>
        <% end %>
        <%= link_to followings_path(@user), class: "text-decoration-none text-dark fs-6" do %>
          <span>Following <strong><%= @user.followees.count %></strong></span>
        <% end %>
      </span>
    </div>
  </div>
</div>
