<%= render 'posts/partials/navbar_top_index' %>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: posts_path(@post), method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-sm-3 mb-4">
      <a href="<%= post_path(post) %>" style="text-decoration: none; color: inherit;">
        <%= render 'posts/partials/post_card', post: post, current_user: current_user %>
        </a>
  <% end %>
</div>
