<h1 class="d-flex justify-content-center align-items-center m-0">All Patterns</h1>
<div class="row justify-content-center mx-auto" style="width: 100vw;">
  <div class="col-sm-8 my-3">
    <%= form_with url: trend_patterns_path , method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<% @patterns.each do |post| %>
  <%= link_to post_path(post) do %>
    <%= render 'posts/partials/pattern_card', post: post %>
  <% end %>
<% end %>
