<p class="card-text" style="font-size: 0.9rem; color: #555;">
 <strong>Craft: </strong> <%= post.craft %>
 <strong>Category: </strong> <%= post.category %>
 <strong>Gauge: </strong> <%= post.gauge %>
 <strong>Yarn Weight:  </strong> <%= post.yarn_weight %>
 <strong>Needle Size: </strong> <%= post.needle_size %>
</p>
