<div class="container text-center">
<p class="card-text" style="font-size: 0.9rem; color: #555;">
<h4><strong>Instructions: </strong></h4><p><%= post.content %></p>
<h4><strong>Details</strong></h4>
<ul class = "list-unstyled text-center">
<li> <strong>Craft: </strong> <%= post.craft %></li>
<li><strong>Category: </strong> <%= post.category %></li>
<li><strong>Gauge: </strong> <%= post.gauge %></li>
<li><strong>Yarn Weight:  </strong> <%= post.yarn_weight %></li>
<li><strong>Needle Size: </strong> <%= post.needle_size %></li>
</ul>
</p>
</div>
